<!-- Footer -->

<footer class="footer "  [ngStyle]="{backgroundColor: getcolor()}" >
  <div class="container">
    <div class="row">
      <div class="col-xs-5 col-md-2">
        <!-- <ul class="list-unstyled list-inline text-center py-2">
            <h6>Quick Links</h6>
              <li><a href="about/"  class="text-light bg-dark">About Us</a></li>
              <li><a href="contact/" class="text-light bg-dark">Contact Us</a></li>
              <li><a href="contribute" class="text-light bg-dark">Contribute</a></li>
              <li><a href="privacy-policy" class="text-light bg-dark">Privacy Policy</a></li>
              <li><a href="sitemap" class="text-light bg-dark">Sitemap</a></li>
              
        </ul> -->
      </div>
    </div>
  </div>
  <ul class="list-unstyled list-inline text-center py-2">
    <li class="list-inline-item">
      <h5 class="mb-1">Register for free</h5>
    </li>
    <li class="list-inline-item">
      <a href="#!" mdbBtn color="white" outline="true" rounded="true" class="waves-light" mdbWavesEffect>Sign up!</a>
    </li>
  </ul>
  <div class="footer-copyright text-center py-3">
    © Near by you Best:
    <a href="https://mdbootstrap.com/"> Fuel Stations </a>
  </div>
</footer>
