<!-- <p>
  view-station works!
</p> -->
<!--  <p>{{ data | json}}</p>
<router-outlet></router-outlet> -->
<h2 *ngIf="!displayeditStation" class="center"> Fuel Stations</h2>
    <button type="button" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true"   *ngIf="displayhomeStation" (click)="backFunc()">Back</button>

 <!-- <p> {{ data | json}}</p> -->


  <table *ngIf="!displayeditStation" id="stationTableId"  class="table table-bordered">
    <thead class="thead-dark">
    <tr>
      
      <th class="hidden">Id</th>
    
      <th scope="col">PlaceName</th>
      <th scope="col">Code</th>
      <th scope="col">X-Coordinate</th>
      <th scope="col">Y-Coordinate</th>
      <th scope="col">Fuel Price</th>
      <th scope="col">Actions</th>
      
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let stationData of data; let i=index">
      <td class="hidden"></td>
      <!-- <td><span *ngIf="edit==false"> -->
      <td>{{stationData.place_name}}</td>
      <!-- </span><input *ngIf="edit==true" value="{{stationData.place_name}}"/></td> -->
      <td>{{stationData.station_code}}</td>
      <td>{{stationData.x_coordinate}}</td> 
      <td>{{stationData.y_coordinate}}</td>
      <td><span *ngIf="edit==false || i!=index">{{stationData.Fuel_Rate}}</span>
        <input *ngIf="edit==true && i==index" [(ngModel)]="fuel" value="{{stationData.Fuel_Rate}}" #i/></td>
      <td ><button  class="btn btn-danger" (click)="deleteStation(stationData,i)" > Delete</button> &nbsp; &nbsp;
        

        <!-- <td><button type="button" class="btn btn-success" (click)="editStation(stationData)" style="cursor: pointer;" > Edit</button></td> -->
        <span ></span><button type="button" class="btn btn-primary" *ngIf="update==false || i!=index" id="saveBtn"  (click)="editStation(stationData,i)" type="submit">Edit</button>
        <button type="button" class="btn btn-success" *ngIf="update==true  && i==index"  (click)="updateStation(stationData)">update</button>
        <!-- <button type="button" class="btn btn-primary" *ngIf="update==false && i==index" (click)="editStation()" >Edit</button>  -->
      </td>
      </tr>
    </tbody>
  </table>

<!-- 
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="productId">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element"> {{station.Id}} </td>
    </ng-container>
  
    <ng-container matColumnDef="dept">
      <th mat-header-cell *matHeaderCellDef> PlaceName</th>
      <td mat-cell *matCellDef="let element"> {{station.place_name}} </td>
    </ng-container>
  
    <ng-container matColumnDef="itemtype">
      <th mat-header-cell *matHeaderCellDef> Item type </th>
      <td mat-cell *matCellDef="let element"> {{element.itemtype}} </td>
    </ng-container>
  
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table> -->
  <app-edit-station  [msgFromParent1]='currentMsgToChild1' *ngIf="displayeditStation"></app-edit-station>
  <!-- <app-edit-station [Station] = "sendToEdit"  (getResponse) = " getResponse($event)" *ngIf="displayeditStation"></app-edit-station> -->
