<!-- <p>
  view-station works!
</p> -->
<!--  <p>{{ data | json}}</p>
<router-outlet></router-outlet> -->
<div class="center">
<h1 *ngIf="!displayeditStation"  class="font-effect-fire" style="text-align:center; font-family: Sofia, sans-serif; font-size: 50px; color:black;"> Fuel Stations</h1></div>
<h2 *ngIf="message==true" style="text-align: center; color: seagreen; font-size: medium;">Record Deleted Succefully!!!</h2>
<h2 *ngIf="editmessage==true" style="text-align: center; color: seagreen; font-size: medium;">Record Updated Succefully!!!</h2>

    <!-- <button type="button" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true"   *ngIf="displayhomeStation" (click)="backFunc()">Back</button> -->

 <!-- <p> {{ data | json}}</p> -->


  <table *ngIf="!displayeditStation" id="stationTableId"  class="table table-bordered">
    <thead class="thead-dark">
    <tr  style="color: SaddleBrown">
      
      <th class="hidden">Id</th>
    
      <th scope="col">PlaceName</th>
      <th scope="col">Code</th>
      <th scope="col">X-Coordinate</th>
      <th scope="col">Y-Coordinate</th>
      <th scope="col">Fuel Price</th>
      <th scope="col">Actions</th>
      
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let stationData of data; let i=index">
      <td class="hidden"></td>
      <!-- <td><span *ngIf="edit==false"> -->
      <td>{{stationData.place_name}}</td>
      <!-- </span><input *ngIf="edit==true" value="{{stationData.place_name}}"/></td> -->
      <td>{{stationData.station_code}}</td>
      <td>{{stationData.x_coordinate}}</td> 
      <td>{{stationData.y_coordinate}}</td>
      <td><span *ngIf="edit==false || i!=index">{{stationData.Fuel_Rate}}</span>
        <input type="number" *ngIf="edit==true && i==index" [(ngModel)]="fuel" value="{{stationData.Fuel_Rate}}" #i/></td>
      <td ><button class="btn btn-danger" (click)="deleteStation(stationData,i)" > Delete</button> &nbsp; &nbsp;
        

        <!-- <td><button type="button" class="btn btn-success" (click)="editStation(stationData)" style="cursor: pointer;" > Edit</button></td> -->
        <span ></span><button type="button" class="btn btn-primary" *ngIf="update==false || i!=index" id="saveBtn"  (click)="editStation(stationData,i)" type="submit">Edit</button>
        <button  type="button" class="btn btn-success" *ngIf="update==true  && i==index"  (click)="updateStation(stationData)">update</button>

        <!-- <button type="button" class="btn btn-primary" *ngIf="update==false && i==index" (click)="editStation()" >Edit</button>  -->
      </td>
      </tr>
    </tbody>
  </table>


  <app-edit-station  [msgFromParent1]='currentMsgToChild1' *ngIf="displayeditStation"></app-edit-station>
  