table, th, td {
    border: 2px solid white;
    border-collapse: collapse;
    position: center;
  }
  th, td {
    background-color: LightCyan ;
    text-shadow: white;
  }
  .center {
    display: flex;
    position:relative;
    justify-content: center;
    text-decoration-color: red;
  }