<div class="col-md-6 user-container">
  <h2 class="text-center">Name</h2>
  
    <div class="form-group">
      <label for="username">Place Name:</label>
      <input type="text" formControlName="username" placeholder="username" name="username" class="form-control" id="username">
    </div>

    <div class="form-group">
      <label for="number">Code</label>
      <input type="number" formControlName="number" placeholder="number" name="number" class="form-control" id="numbeer">
    </div>

    <div class="form-group">
      <label for="X-Coordinate">X-Coordinate:</label>
      <input formControlName="X-Coordinate" placeholder="X-Coordinate" name="X-Coordinate" class="form-control" id="X-Coordinate">
    </div>

    <div class="form-group">
      <label for="Y-Coordinate">Y-Coordinate:</label>
      <input formControlName="Y-Coordinate" placeholder="Y-Coordinate" name="Y-Coordinate" class="Y-Coordinate" id="Y-Coordinate">
    </div>

    <div class="form-group">
      <label for="price">Price:</label>
      <input type="number" formControlName="price" placeholder="price" name="price" class="form-control" id="price">
    </div>

     

    <!-- <button class="btn btn-success">Add</button>

</div> 
