<div class="center">


<app-home *ngIf="router != '/ur_route'"></app-home>
 <!-- <app-view-station></app-view-station> -->
<!-- <app-add-station></app-add-station>  -->
<router-outlet></router-outlet>


<!--  header  -->
<!-- <div class="row">
  <div class="congtainer">
    <div class="col-md-12">
      <div class="header" [ngStyle]="{backgroundColor: getcolor()}">
        <div class="header-right">
   <ul class="nav navbar-nav navbar-right">

  </ul>
  </div>
  </div>
  </div>
  </div>
  </div> -->



<!-- <app-header></app-header> -->
<app-footer></app-footer>

  <!-- Site footer -->
  <!-- <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-xs-6 col-md-3">
          <h6>Quick Links</h6>
          <ul class="footer-links">
            <li><a href="http://scanfcode.com/about/">About Us</a></li>
            <li><a href="http://scanfcode.com/contact/">Contact Us</a></li>
            <li><a href="http://scanfcode.com/contribute-at-scanfcode/">Contribute</a></li>
            <li><a href="http://scanfcode.com/privacy-policy/">Privacy Policy</a></li>
            <li><a href="http://scanfcode.com/sitemap/">Sitemap</a></li>
          </ul>
        </div>
      </div>
      <hr>
    </div>
</footer> -->
</div>