
<!-- <div class="row">
  <div class="congtainer">
    <div class="col-md-12">
      <div class="header" [ngStyle]="{backgroundColor: getcolor()}">
        <div class="header-right">
   <ul class="nav navbar-nav navbar-right"> -->
    <!-- <li>
      <a style="cursor: pointer;" (click) = "onView()" >View Station</a>
    </li>
  </ul>
  <ul class="nav navbar-nav navbar-right">
    <li>
      <a style="cursor: pointer;" (click) = "addStation()" >Add Station</a>
    </li> -->
  
    <!-- <a routerLink="/" class="navbar-brand "></a>
    <li>
      <a (click)="viewStationMethod()" style="cursor: pointer;">View Station</a>   
       
      </li>
      <li>
      <a (click)="addStationMethod()" style="cursor: pointer;">Add station</a>
      
    </li>
    </ul>
    </div>
  </div>
</div>
</div>
</div> -->
<div class="row">
  <div class="col-md-12">
  <h1 class="font-effect-fire" style="text-align:center; font-family: Sofia, sans-serif; font-size: 70px; color:black;" >{{title}}</h1>
</div>
</div>
    <ul>
        <br>
        <br>
        <div class="parent">
          <!-- <mat-form-field> -->
         <div *ngIf="xerror==true" style="font-style: italic; color: rgb(212, 17, 17);">{{xmessage}}
           <p style="font-style: italic; color: rgb(212, 17, 17);" ></p>
         </div>  
         <div *ngIf="yerror==true" style="font-style: italic; color: rgb(212, 17, 17);">{{ymessage}}
           <p  style="font-style: italic; color: rgb(212, 17, 17);"></p>
         </div>
        <div style="text-align:center;">
          <div >   
            <label for="xnumber">X-Coordinate:</label> 
            <input type="number"  #xCord class="searchTer" >&nbsp; &nbsp;
           

            <label for="ynumber">Y-Coordinate:</label>  
            <input type="number"  #yCord class="searchTer" >&nbsp; &nbsp;

        <button class="w3-button w3-ripple w3-yellow" type="submit" value="Submit" style="cursor: pointer;"  
        (click) = "onSearch(xCord.value,yCord.value)">  Search</button><br>
        
    </div>
    </div>
    </div>
    </ul>

    &nbsp; &nbsp; &nbsp;
    <!-- <h2>Top  3 fuel Station</h2> -->
<div  class="center" style="text-align:center;">
 <div class="congtainer">      
	<table *ngIf="showtable==true" class="table table-bordered">
    <thead class="thead-dark">
			<tr style="color: SaddleBrown">
        <th style=" color: black(212, 17, 17);" >Place Name</th>
        <th style="color: black(212, 17, 17);">Station Code</th>
        <th style="color: black(212, 17, 17);">X-Coordinate</th>
        <th style="color: black(212, 17, 17);">Y-Coordinate</th>
        <th style=" color: black(212, 17, 17);">Fuel Rate</th>
        <th style=" color: black(212, 17, 17);">Distance</th>
      </tr>
    </thead>
    <tbody>
			<tr  *ngFor="let corDate of data">
				<td >{{corDate.place_name}}</td>
        <td>{{corDate.station_code}}</td>
        <td>{{corDate.x_coordinate}}</td>
        <td>{{corDate.y_coordinate}}</td>
				<td >{{corDate.Fuel_Rate}}</td>
        <td>{{corDate.distance_from_my_location}}</td> 
			</tr>
    </tbody>
	</table>
</div>
</div>
&nbsp; &nbsp; &nbsp;
 