/* table, th, td {
    border:1px solid cyan;
  } */
/* 
  table, th, td {
      border: 2px solid  ;
        width: 200%;
        height: 80px;
        text-align: center;
     border-collapse: collapse; 
     background-color: lightcyan;
  } */
  table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
  }
  th, td {
    background-color: LightCyan ;
    text-shadow: white;
  }

  /* th, td {
    text-align: center;
    background-color: LightCyan ;
    text-shadow: white;
  } */
  .center {
    display: flex;
    justify-content: center;
    /* text-decoration-color: red; */
  }